.Form {
  display: flex;
  justify-content: space-between;
  width: 100%;

  form {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    width: 100%;
  }

  .Left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    width: 40%;
    border: 2px solid #232020;
    border-radius: 10px;
    background-color: #3a3535;
    color: white;
    text-align: center;

    input[type=text] {
      margin: 10px;
      width: 80%;
    }

    input[type=radio] {
      margin: 0px 10px 0px 10px;
    }

    textarea {
      margin: 10px;
      width: 80%;
      height: 100px;
    }

    button {
      border: 2px solid #e15e07;
      border-radius: 10px;
      background-color: #ff7315;
      color: white;
    }
  }

  .Right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    width: 40%;  
    border: 2px solid #232020;
    border-radius: 10px;
    background-color: #3a3535;
    color: white;
    text-align: center;
  }

  .AuthTop {
    width: 100%;
    text-align: center;
  }

  .AuthBot {
    width: 100%;
    padding: 50px;
    text-align: center;


    input{
      margin: 10px;
    }

    input[name=SET_TOKEN]{
      width: 100%;
    }
  }
}
