* {
  box-sizing: border-box;
}

html {
  background-color: #3a3535;
}

.Header {
  display: flex;
  justify-content: center;
  border: 2px solid #e15e07;
  border-radius: 10px;
  margin: 10px;
  background-color: #ff7315;
}

.Main {
  display: flex;

  .Left{
    width: 25%;
  }

  .Right{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    border: 2px solid #e15e07;
    border-radius: 10px;
    margin: 10px;
    background-color: #ff7315;
  }
}
