* {
  box-sizing: border-box;
}

.Header {
  display: flex;
  background-color: greenyellow;
}

.Main {
  display: flex;
  background-color: blue;

  .Left{
    width: 25%;
    background-color: red;
  }

  .Right{
    width: 75%;
    background-color: green;
  }
}